{% extends 'layout.html' %}
{% block content %}
{% from '_macros.html' import render_field %}
<div class="container  text-center">
    <div style="border: 3px solid purple; width: 50%; margin-left: 275px;" >
    <br>
    <h3>Buscador de Palabras Español e Ingles</h3>
    <br>
    <form action="" method="post" novalidate>
            <div class="row control_group" style="padding-left: 25px;">
                {{render_field(form.español)}}
                {{render_field(form.ingles)}}
            </div>
            <input type="submit" value="Guardar" id="btnGuardar" name="btnGuardar" class="btn btn-success">
            <br><br>
        
            <div class="row control_group">
                <input type="radio" name="translate" value="español"> Ingles
                <input type="text" name="txtEspañol" placeholder="Palabra Español" id="txtEspañol" style="padding-right: 35px; width: 110px;">
                <br>
                <input type="radio" name="translate" value="ingles"> Español
                <input type="text" name="txtIngles" id="txtIngles" placeholder="Palabra Ingles" style="padding-right: 60px; width: 90px;">
                <br>
            </div>
            <input type="submit" value="Traducir" id="btnTraducir" name="btnTraducir" class="btn btn-primary">
            <br>
            <br>
            <h4> Resultado:
                {{datosEncontrados}}
            </h4>
       <br>
    </form>
    </div>
    </div>
</div>
{% endblock %}